@font-face {
    font-family: 'font1';
    src: url('../fonts/Mechanical-g5Y5.otf') format('opentype');     font-weight: normal;
    font-style: normal;
  }
body{
    font-family: 'font1';
    margin-left: 35%;
      background: linear-gradient(to bottom,rgb(27, 52, 22),rgb(36, 57, 82));
      height: 750px;
      display:flex;
  }
  .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }
  .container{
    margin: 0 auto;
    width: 570px;
    height: 690px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
    background: linear-gradient(to bottom,rgb(12, 20, 29),rgb(16, 28, 40));
    transition: 0.3s;
  }
  .container:hover{
    box-shadow: 0 0 15px rgba(76, 249, 255, 0.5);
  }
  .textt{
    font-size: 23px;
    color: white;
    font-family: 'font1';
  }
  .email{
    height: 100px;
    width: 400px;
    margin: 10px 0 10px 80px;
  }
  .password{
    margin: 10px 0 10px 80px;
    height: 100px;
    width: 400px;
  }
  input{
    border: none;
    border-bottom: 2px solid rgb(15, 153, 196);
    border-left: 2px solid rgb(15, 153, 196);
    background-color: rgb(14, 24, 35);
    padding-right: 100px;
    transition: 0.3s;
  }
  input:hover{
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
  }
  input:focus { 
    box-shadow: 0 0 10px rgba(36, 57, 82, 0.7);
    outline: 2px solid rgb(0, 195, 255);
  }
  input[type="checkbox"]{
    border-radius: 2px;
      transform: scale(1.5);
    margin-right: 10px;
    border: none;
  }
  input[type="checkbox"]:hover{
    box-shadow: none;
  }
  input[type="checkbox"]:focus{
    box-shadow: none;
  }
  .show-chck.input{
    border: none;
  }
  #show{
    display: flex;
    margin-left: 50%;
  }
  #name{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    border-radius: 6px;

    /* padding: 5px 10px 5px 10px; */
  }
  .login-form:hover{
    color:rgb(0, 195, 255);
  }
  #email{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    /* padding: 5px 10px 5px 10px; */
  }
  #l-password{
    margin-top: 10px;
  }
  #password{
    border-radius: 6px;
    margin-top: 20px;
    /* padding: 5px 10px 5px 10px; */
    color: rgb(255, 255, 255);
  }
  #con-password{
    border-radius: 6px;
    margin-top: 20px;
    /* padding: 5px 10px 5px 10px; */
    color: rgb(255, 255, 255);
  }
  #head-login{
    padding-top: 0px;
    font-size: 33px;
  }
  button{
    border: none;
    border-bottom: 2px solid rgb(15, 153, 196);
    border-left: 2px solid rgb(15, 153, 196);
    transition: 0.3s;
  }
  button:hover{
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
  }
  #submit{ 
    margin-top: px;
    padding: 7px 35px 7px 35px   ;
    border-radius: 5px;
    color: rgb(231, 231, 231);
    background: linear-gradient(to bottom,rgb(37, 54, 90),rgb(45, 77, 116));
    transition: 0.3s;
  }
  #submit:hover{
    background: linear-gradient(to bottom,rgb(71, 105, 179),rgb(45, 77, 116));
  }
  #error{
    font-size: 17px;
    margin-left: 80px;
    margin-right: 50px;
  }